<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:view locale="#{localeBean.locale}">
        <h:head>
            <title>#{msgs.indexWindowTitle} #{localeBean.language}</title>
        </h:head>
        <h:body>
            <h:form>

                <!-- The commandLink defines the action -->
                <h:commandLink action="#{localeBean.setLanguage('fr', 'CA')}">

                    <!-- This loads the graphics image and because it is inside the commandLink the image is the link -->
                    <h:graphicImage library="images" name="ca_flag.gif"
                                    style="border: 0px; margin-right: 1em;"/>
                </h:commandLink>
                <h:commandLink action="#{localeBean.setLanguage('en', 'CA')}">
                    <h:graphicImage library="images"
                                    name="en_flag.gif" style="border: 0px"/>
                </h:commandLink>
                <p><h:outputText value="#{msgs.indexPageTitle}"
                                 style="font-style: italic; font-size: 1.3em"/></p>
                <h:panelGrid columns="2">
                    #{msgs.namePrompt}
                    <h:inputText value="#{user.name}"/>
                    #{msgs.passwordPrompt}
                    <h:inputSecret value="#{user.password}"/>
                    #{msgs.tellUsPrompt}
                    <h:inputTextarea value="#{user.aboutYourself}" rows="5" cols="35"/>
                </h:panelGrid>
                <h:commandButton value="#{msgs.submitPrompt}" action="thankYou"/>
            </h:form>
        </h:body>
    </f:view>
</html>
